<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Info.DAL.Properties.Settings.db_infoConnectionString"
            connectionString="Data Source=THIIAGOFERNANDO\SQLEXPRESS;Initial Catalog=db_info;User ID=sa;Password=21293175"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>